html {
    background-color: #415E6F;
}

#top {
    height: auto;
    width: auto;
    position: relative;
}

.top {
    position: relative;
}

#center {
    height: auto;
    width: auto;
    position: absolute;
    transform: translateY(-10vh);
}
