html {
    background-color: #415E6F;
}

#top {
    height: auto;
    width: auto;
    position: absolute;
}

.top {
    position: relative;
}

#center {
    height: auto;
    width: auto;
    position: absolute;
    margin-top: 25vh;
}

.bt {
    height: auto;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}

#go {
    height: 5vh;
    width: 20vh;
    color: #fff;
    background-color: #4D7184;
    border-radius: 3vh;
    
}
