html {
    background-color: #415E6F;
}

#top {
    height: auto;
    width: auto;
    position: absolute;
}

.top {
    position: relative;
}

#center {
    height: auto;
    width: auto;
    position: absolute;
    margin-top: 5vh;
}
